<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Lista de seguimiento</strong> 
            </c-card-header>
            <c-card-body>
                <!-- Tabla de seguimiento -->
                <table class="watchlist-table" cTable>
                    <thead>
                        <tr scope="col">Nombre</tr>
                        <tr scope="col">Categoria</tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of watchlistItems">
                            <td>{{ item.title }}</td>
                            <td>{{ item.category }}</td>
                        </tr>
                    </tbody>
                </table>
                 <!-- Tabla de seguimiento -->
            </c-card-body>
        </c-card>
    </c-col>
</c-row>